@use "../abstracts/variables" as *;

.textArea {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding-xl;
  color: $ink-muted;

  @media (max-width: 992px) {
    padding: $gap-section;
  }
}
